@import 'tailwindcss';
@plugin "daisyui" {
    themes:
        light --default,
        dark;
}

@custom-variant dark (&:where(.dark, .dark *));

.mask-square {
    -webkit-mask-image: linear-gradient(#000, #000);
    mask-image: linear-gradient(#000, #000);
}
